@import "App.css";
@import "ComponentHead.css";
@import "Voting.css";
@import "Switcher.css";
@import "Loader.css";
@import "Error.css";
@import "Grid.css";
@import "NoItemsFound.css";

body {
    background: #F8F8F7;
    margin: 0;
    font-family: 'Jost', sans-serif;
}
